name: python

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest


    steps:
    - uses: actions/checkout@v2
    - name: Set up Python all python versions
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Testing 
      run: python -m unittest


  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: send telegram message on push
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            Commit message: ${{ github.actions }}
