name: Continuous Integration
on: [push]
jobs:
  build:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v2
          - name: python set up
            uses: actions/setup-python@v2
            with:
              python-version: ${{ matrix.python-version }}
              architecture: x64
          - name: Run Test
            run: python -m unittest descover .
